@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Lato", sans-serif;
  margin: 0;
} */

.music-containermain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 22%;
}
/* styling the outer music container */
.music-container {
  width: min-content;
  background-color: #efefef;
  display: flex;
  align-self: center;
  justify-self: flex-end;
  padding: 20px 30px;
  position: relative;
  margin: 50px 0;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 14px 10px 46px -10px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 14px 10px 46px -10px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 14px 10px 46px -10px rgba(0, 0, 0, 0.64);
}

.img-container {
  position: relative;
  width: 110px;
}

/* styling the image to look like a disc by placing a small circle in it*/
.img-container::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

/* using animation to make the image rotate continiously when music is playing */
.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 10s linear infinite;

  animation-play-state: paused;
  box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
}

/* making sure the image rotates only when the music is playing */
.music-container.play .img-container img {
  animation-play-state: running;
}

/* creating the animation keyframe and setting the image to rotate 360 degrees continiously */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* styling the navigation buttons */
.action-btn {
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  font-size: 30px;
  outline: none;
}

.action-btn:focus {
  outline: 0;
}

/* styling the music-info div by placing it under the music container */
.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

/* making the music info pop up when the music playing using the transform property*/
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

/* styling the song progress container */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

/* styling the actual progress bar and making it flow along with the song*/
.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.cloud,
.cloud_two,
.cloud_three,
.cloud_four,
.cloud_five {
  animation: move 6s ease infinite;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: #ffffff;
  height: 60px;
  width: 60px;
  box-shadow: #ffffff 65px -15px 0 -5px, #ffffff 25px -25px, #ffffff 30px 10px,
    #ffffff 60px 15px 0 -10px, #ffffff 85px 5px 0 -5px;
}

.cloud_two {
  top: 52%;
  left: 28%;
  animation-duration: 8s;
  z-index: 1;
}
.cloud_three {
  top: 20%;
  left: 70%;
  animation-duration: 18s;
  z-index: 3;
}
.cloud_four {
  top: 20%;
  left: 20%;
  animation-duration: 28s;
  z-index: 3;
}
.cloud_five {
  top: 49%;
  left: 80%;
  animation-duration: 15s;
  z-index: 1;
}

@keyframes move {
  50% {
    transform: translateY(-15px);
  }
}

.bg_heart {
  /* position: relative; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  /* overflow: hidden; */
  display: flex;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 2;
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 14px 10px 66px -18px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

@-webkit-keyframes love {
  0% {
    top: 110%;
  }
}
@-moz-keyframes love {
  0% {
    top: 110%;
  }
}
@-ms-keyframes love {
  0% {
    top: 110%;
  }
}
@keyframes love {
  0% {
    top: 110%;
  }
}
